# Redis
REDIS_PORT=6379

# Redis Commander (Opcional - solo con --profile tools)
REDIS_COMMANDER_PORT=8081
REDIS_COMMANDER_PASSWORD=admin

# Otros servicios (futuros)
# POSTGRES_PORT=5432
# MYSQL_PORT=3306

